body{
    background: #fff;
    font-family: 'Comic Neue', cursive;
    font-style: normal;
}

@font-face{
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Comic Neue Light'), local('ComicNeue-Light'), url(https://fonts.gstatic.com/s/comicneue/v1/4UaErEJDsxBrF37olUeD_wHL8pxULg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

h1{
    font-family: 'Monoton', cursive;
    font-size: 4em;
    text-align: center;
    margin-top: 0.5%;
    inline-size: 5%;
    color: #fff;
}

.test2{
    align-content: center;
    inline-size: unset;

}

h2{
    color: #ffbd69;
    text-align: center;
}

h3{
    color: #ff6363 ;
    text-align: center;
    margin-bottom: 20px;
}
h4{
  color: #543864; 
  text-size-adjust: 0.4em;
  font-weight: bold;
}
p{
    color: #202040;
}

.container{

max-width: 100%;
padding: 0 20px 0 20px;
}
.section{
padding: 40px 40px 40px 0px;
}

/*Header*/

header{
    background: url(../images/cover.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-bottom: 15%;
}

/*Nav Bar*/


.img {
    vertical-align: left;
    border-style: none;
}

/*Section 2 Qui sommes-nous*/

.apropos{
    background-color: #543864;
    background-size: auto;
    background-position: center;
    padding: 40px 60px 40px 60px;
    
}

.text-blanc{
    color: #fff;
}

/*Section 3 Le festival*/

.bg-light{
    background-size: cover;
    background-position: center;
    
}


/*Section 4 Les actualités*/

.blog{

        background-size: cover;
        background-position: center;
    }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.toto{
    height: 300px;

}

/*Section 5 Les films*/

.films{
    
    background-size: cover;
    padding: 40px 90px 40px 90px;

}

.mytab {
    padding-left: 34%;
    padding-bottom: 4em;
    color: #543864;
}
.nav-link{
    color: #543864;
}

.nav-pills .nav-link.active{
    color: #fff;
    background-color: #543864;
}


.films-caption{
    background-color:#ffbd69;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 10px;
}

.badge-primary{
background-color: #543864;
}
.badge-seance{
    font-size: medium;
    margin-top: 15px;
    background-color: #202040
}


/*Section 6 Réservations*/

.form {
    background-size: auto;
    background-position: center;
    background-image: url(../images/caroussel2.jpg);
}

/*Section 7 Contact*/

.form2 {
    background-color: #543864;
    background-size: auto;
     /* Encadré pour voir les limites du formulaire */
      }
      
.form div + div {
     margin-top: 1em;
      }
      
.label {
    width:100px;
    text-align: right;
    color: #fff;
    margin-top: 1em;
    }
      
.input, textarea{

        border: 1px solid #999;
        padding: 10px 0px;
      }
      
.input:focus, textarea{
        /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
      }

.btn-primary {
        background-color: #ff6363;
        border-color: #ff6363;
        width: 120px
      }

.btn-primary:hover{
    background-color: #202040;
    border: #202040;
}

/*Section 8 Footer*/

footer {
    background-size: auto;
    background-color:#CCC;
    position: static;
    width: 100%;
  }
